html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  font-size: 14px;
  font-family: Arial;
  text-align: center;
}

div h1 {
  text-align: right;
}
div {
  width: 60%;
  margin: 0 20%;
  background: yellow;
  border: 1px solid red;
  padding: 10px;
}
span {
  color: white;
  font-size: 18px;
}

div p {
  background: blue;
  color: white;
}

div p > span {
  text-align: left;
}

div span > span {
  color: red;
}

div i > b {
  color: red;
}
